In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('continents.csv')
df.head()

,continent,lat,long,confirmed_cumulative,confirmed_new,deaths_cumulative,deaths_new,recovered_cumulative,recovered_new,active,critical,updated
0,North America,31.676827,-146.470747,48842117,18731,1006673,758,38074046,17261,9761398,33013,1630743097271
1,Asia,23.702727,62.375064,70928962,52786,1047701,677,66187672,67529,3693589,41375,1630743097272
2,South America,-15.655156,-100.748423,37032591,0,1134070,0,34851630,0,1046891,14971,1630743097273
3,Europe,25.771324,-35.601226,55757610,6789,1178282,57,50876944,10086,3702384,11859,1630743097274
4,Africa,1.738387,-16.309464,7945176,0,198801,0,7074996,0,671379,4474,1630743097275

In [9]:
print(df.index)

RangeIndex(start=0, stop=6, step=1)

In [10]:
df = pd.read_csv('countries.csv')
df.head()

,country,lat,long,confirmed_cumulative,confirmed_new,deaths_cumulative,deaths_new,recovered_cumulative,recovered_new,active,critical,updated,continent,flag
0,Afghanistan,33.0,65.0,153395,0,7128,0,111300,0,34967,1124,1630743096778,Asia,https://disease.sh/assets/img/flags/af.png
1,Albania,41.0,20.0,149117,0,2508,0,135321,0,11288,3,1630743096780,Europe,https://disease.sh/assets/img/flags/al.png
2,Algeria,28.0,3.0,197308,0,5373,0,134390,0,57545,42,1630743096767,Africa,https://disease.sh/assets/img/flags/dz.png
3,Andorra,42.5,1.6,15055,0,130,0,14874,0,51,4,1630743097066,Europe,https://disease.sh/assets/img/flags/ad.png
4,Angola,-12.5,18.5,48261,0,1248,0,43795,0,3218,8,1630743096958,Africa,https://disease.sh/assets/img/flags/ao.png

In [11]:
print(df.index)

RangeIndex(start=0, stop=223, step=1)

In [14]:
df = pd.read_csv('vac_country.csv')
df.head()

,Unnamed: 0,12/1/20,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,...,8/25/21,8/26/21,8/27/21,8/28/21,8/29/21,8/30/21,8/31/21,9/1/21,9/2/21,9/3/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1356114,1416926,1487687,1558448,1629209,1699970,1979652,1979652,1979652,1979652
1,Albania,0,0,0,0,0,0,0,0,0,...,1405653,1415907,1427977,1436980,1444764,1458048,1472316,1485250,1499898,1499898
2,Algeria,0,0,0,0,0,0,0,0,0,...,4146091,4146091,4146091,4146091,4146091,4146091,4146091,4146091,4146091,4146091
3,Andorra,0,0,0,0,0,0,0,0,0,...,91660,91660,91660,91660,91660,91660,91660,91660,91660,91660
4,Angola,0,0,0,0,0,0,0,0,0,...,1841568,1860012,1882501,1907486,1934966,1964941,1997411,2086325,2086325,2086325